<p>We will mostly follow the curriculum of the Data Carpentry lesson <a href="https://datacarpentry.github.io/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists</a>.</p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td></td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/introduction-r-rstudio.html">Introduction to R and RStudio</a></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/visualizing-ggplot.html">Data visualization with <code>ggplot2</code></a></td>
      </tr>
      <tr>
        <td>12:40</td>
        <td>Lunch break (lunch not provided)</td>
      </tr>
      <tr>
        <td>13:40</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/visualizing-ggplot.html">Data visualization with <code>ggplot2</code> (continued)</a></td>
      </tr>
      <tr>
        <td>15:10</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/how-r-thinks-about-data.html">Exploring and understanding data in R</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/working-with-data.html">Working with data using <code>tidyverse</code></a>: <code>select()</code>, <code>filter()</code></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/working-with-data.html#the-pipe">Working with data using <code>tidyverse</code></a>: the pipe operator, <code>mutate()</code></td>
      </tr>
      <tr>
        <td>12:40</td>
        <td>Lunch break (lunch not provided)</td>
      </tr>
      <tr>
        <td>13:40</td>
        <td><a href="https://datacarpentry.github.io/R-ecology-lesson/working-with-data.html#the-split-apply-combine-approach">Working with data using <code>tidyverse</code></a>: split-apply-combine approach, reshaping by pivoting</td>
      </tr>
      <tr>
        <td>15:10</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Foundations of R programming: <a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions.html">Functions Explained</a>, <a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow.html">Control Flow</a>, <a href="https://swcarpentry.github.io/r-novice-gapminder/14-knitr-markdown.html">Producing Reports With <strong><code>knitr</code></strong></a>, <a href="https://swcarpentry.github.io/r-novice-gapminder/15-wrap-up.html">Writing Good Software</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
